.transactionsContainer {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    /* Allows for pagination to stay at the bottom */
    overflow: auto;
    /* Enable scrolling if content overflows */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.searchInput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    /* Keeps pagination at the bottom */
}

.transactionsContainer h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--grey-500);
    margin-bottom: 15px;
}

.transactionsTable {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    /* Prevent the table from exceeding the container width */
}

.transactionsTable thead {
    background-color: var(--grey-100);
}

.transactionsTable th,
.transactionsTable td {
    padding: 10px;
    border-bottom: 1px solid var(--grey-200);
    text-align: left;
}

.transactionsTable th {
    font-weight: 500;
    color: var(--grey-600);
}

.transactionsTable tr:last-child td {
    border-bottom: none;
}

.deleteBtn {
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: red;
    }
}

/* Responsive layout */
@media (max-width: 768px) {
    .transactionsTable {
        font-size: 14px;
    }

    .pagination {
        font-size: 0.75rem;
    }
}

.darkMode {
    &.transactionsContainer {
        background-color: var(--grey-700);
        color: #000;
        box-shadow: none;

        .searchInput {
            background-color: var(--grey-custom2);
        }
    }

    &.transactionsTable th,
    &.transactionsTable td {
        color: #fff;
        border-bottom: 1px solid var(--grey-400);
    }

    &.transactionsTable thead {
        background-color: var(--grey-custom2);
    }

    &.transactionsContainer h2 {
        color: #fff;
    }

    &.transactionsContainer input {
        background-color: var(--grey-100);
        border: none;
        color: #fff;
    }
}