.navbar {
    background-color: var(--grey-0);
    padding: 2rem 4.8rem;
    border-bottom: 1px solid var(--grey-200);

    h3 {
        color: var(--grey-700);
    }
}

.darkMode {
    background-color: var(--grey-custom);
    border-bottom: 1px solid var(--grey-500);

    h3 {
        color: var(--grey-300);
    }
}