.sidebar {
    background-color: var(--grey-0);
    padding: 3.2rem 2.4rem;
    border-right: 1px solid var(--grey-200);

    /* grid item stuff */
    grid-row: 1/-1;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.link {

    &:link,
    &:visited {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        color: var(--grey-600);
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1.2rem 2.4rem;
        transform: all 0.3s;
    }

    &:hover,
    &:active,
    &:active:link,
    &:active:visited {
        color: var(--grey-800);
        background-color: var(--grey-50);
        border-radius: 10px;
    }
}

.iconHome,
.iconGear,
.iconMoney,
.iconExpense,
.iconBudget {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}